body {
    background-color: #F2D0C4;
    /*
    --e-global-color-primary: #F2D0C4;
    --e-global-color-secondary: #FFEEE2;
    --e-global-color-text: #54595F;
    --e-global-color-accent: #FFFFFF;
    */
    font-family: Arial, Helvetica, sans-serif;
    color: #54595F;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
    text-indent: 50px;
}
a {
    color: #54595F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/*img {
    max-width: 100%;
    height: auto;
}*/
p#lmapa {
    text-align: right;
    font-size: 11px;
    padding-right: 50px;
}
section#sectionbody {
    background-color: #ffffff;
    color: #54595F;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}
header#titlist {
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif ;
}
ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #F2D0C4;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba (0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}
ul#album-fotos li span {
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}
ul#album-fotos li:hover span {
    opacity: 1;
}
/*ul#album-fotos li span {
    opacity: 1;
    color: #ffffff;
}*/
ul#album-fotos li#foto1 {
    background: url('joia1.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto1:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto2 {
    background: url('joia2.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto3 {
    background: url('joia3.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto4 {
    background: url('joia4.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto4:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto5 {
    background: url('joia5.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto5:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto6 {
    background: url('joia6.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto6:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
/*nav#navsec {
    margin-bottom: 20px;
}
nav#navsec ul {
    list-style: none;
    text-transform: uppercase;
}
nav#navsec li {
    display: inline-block;
    background: blue;
    color: white;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    width: 100px;
    font-size: 10pt;
    border-radius: 10px;
}
nav#navsec li:hover {
    background-color: rgb(108, 108, 238);
}
div#divtabsecdemo{
    text-align: center;
    height: auto;
    width: auto;
    padding: 3px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 10px;
    vertical-align: top;
}
@media screen and (max-width: 600px) {
    table, tr,td {
        display: block;
        width: 100%;
    }
    td {
        margin-bottom: 20px;
    }
}
table#tabsecdemo tr {
    text-align: center;
}
table#tabsecdemo td {
    text-align: center;
}
img#icone {
    margin-left: 40px;
}
nav#navmenu {
    padding: 2px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid blue;
}
nav#navmenu ul {
    list-style: none;
    width: 200px;
}
nav#navmenu li {
    background: blue;
    color: white;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.5s;
    width: 100px;
    border-radius: 10px;
    font-size: 10pt;
}
nav#navmenu li:hover {
    background-color: rgb(108, 108, 238);
}*/
aside#asidebody {
    background-color: #ffffff;
    color: #54595F;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
footer#rodape {
    margin-top: 3px;
    border-top: 1px solid #F2D0C4;
}
footer#rodape p {
    text-indent: 0px;
    text-align: center;
}
article#mostarticle p {
    text-align: center;
    text-indent: 0px;
}
article#mostarticle h3 {
    padding-top: 20px;
}