body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: #54595F;
}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: center;
    text-indent: 50px;
}
a {
    color: #54595F;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p#lmapa {
    text-align: right;
    font-size: 11px;
    padding-right: 50px;
}
section#sectionbody {
    background-color: #ffffff;
    color: #54595F;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    overflow-x: auto;
}
header#titlist {
    text-decoration: underline;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif ;
}
ul#album-fotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}
ul#album-fotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #000000;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba (0,0,0,.4);
    -webkit-transition: all .4s ease-in;
}
ul#album-fotos li span {
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}
ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}
ul#album-fotos li:hover span {
    opacity: 0;
}
ul#album-fotos li#foto1 {
    background: url('a5.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto1:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto2 {
    background: url('a6.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto2:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto3 {
    background: url('a7.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto3:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto4 {
    background: url('a8.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto4:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto5 {
    background: url('a9.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto5:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#album-fotos li#foto6 {
    background: url('a10.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#foto6:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
aside#asidebody {
    background-color: #ffffff;
    color: #54595F;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    text-align: center;
}
footer#rodape {
    margin-top: 3px;
    border-top: 1px solid #F2D0C4;
}
footer#rodape p {
    text-indent: 0px;
    text-align: center;
}
article#mostarticle p {
    text-align: center;
    text-indent: 0px;
}
article#mostarticle h3 {
    padding-top: 20px;
}